- name: Create ~/src/go/src/github.com/quic-go directory structure
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/src/go/src/github.com/quic-go"
    state: directory
    mode: '0755'

- name: Clone quic-go/quic-go repository
  ansible.builtin.git:
    repo: https://github.com/quic-go/quic-go.git
    dest: "{{ ansible_env.HOME }}/src/go/src/github.com/quic-go/quic-go"
    version: master
    depth: 1

- name: Clone quic-go/perf repository
  ansible.builtin.git:
    repo: https://github.com/quic-go/perf.git
    dest: "{{ ansible_env.HOME }}/src/go/src/github.com/quic-go/perf"
    version: master
    depth: 1

- name: Initialize go.work
  ansible.builtin.command:
    cmd: "go work init ./perf ./quic-go"
    chdir: "{{ ansible_env.HOME }}/src/go/src/github.com/quic-go"
    creates: "{{ ansible_env.HOME }}/src/go/src/github.com/quic-go/go.work"

- name: Ensure perf and quic-go are in go.work
  ansible.builtin.command:
    cmd: "go work use ./perf ./quic-go"
    chdir: "{{ ansible_env.HOME }}/src/go/src/github.com/quic-go"
